{% include 'header.html' %}



<div class="cartCatalog">
    {% for item in content_data[0] %}
        <div class="cartItem">
            <a href="index.php?path=catalog/oneGood/{{ item.id_catalog }}">
               <h3>{{ item.title }}</h3>{#<img class="img" src="#" alt="фото">#}
            </a>
                <p>Цена: {{ item.price }}</p>
            <div>
                <div class="count__div">Кол-во: </div>
                <span onclick="decrement({{ item.id_catalog }})" id="dec_{{ item.id_catalog }}" class="btn decrement">-</span>
                <span id="value__counter_{{ item.id_catalog }}">{{ item.counter }}</span>
                <span onclick="increment({{ item.id_catalog }})" id="inc_{{ item.id_catalog }}" class="btn increment">+</span>

            </div>
            <p>Всего: {{ item.price * item.counter }}</p>

        </div>
    {% endfor %}

    {% for price in content_data[1] %}
        <div class="totalDiv">
    <p class="totalPrice" >Итоговая стоимость: {{ price.total }} руб</p>
        </div>
    {% endfor %}
</div>
<div class="cartInput"><div class="formClientInfo">
        <form class="formOrder" id="formOrder" action="index.php?path=order" method="post">
            <label for="typeSend">Выберите тип доставки:</label><br><br>
            <input type="radio" name="typeSend" value="1"><span>Курьерская</span>
            <input type="radio" name="typeSend" value="0" checked><span>Самовывоз</span><br>
            <label for="inputName" class="">Имя</label><br>
            <input type="text" name="name" id="inputName" placeholder="Введите имя"><br>
            <label for="inputPhone" class="">Телефон</label><br>
            <div class="inputGroup"><input type="text" name="phone" class="rowGoods nameFull" placeholder="Введите номер телефона"></div><br>
            <label for="inputPersons" class="">Количество персон</label><br>
            <input type="text" name="persons" id="inputPersons" placeholder="Введите Количество персон"><br>
            <label for="inputtypepay" class="">Способ оплаты</label><br>
            <select class="form-control input-sm" name="pay" id="inputtypepay"><br>
                <option value="0">Наличные</option>
                <option value="1">Кредитная карта</option>
            </select><br><br>
            <label for="inputTime" class="">Заказ на время</label><br>
            <input type="text" name="desiredTime" id="inputTime" placeholder="Введите желаемое время исполнения заказа"><br>
            <label for="inputMoney" class="">Сдача</label><br>
            <input type="text" name="money" id="inputMoney" placeholder="С какой купюры приготовить сдачу"><br>
            <label for="inputAddress" class="">Адрес</label><br>
            <textarea type="text" name="address" id="inputAddress" placeholder="Адрес доставки"></textarea><br>
            <label for="inputComment" class="">Комментарий</label><br>
            <textarea type="text" name="comment" id="inputComment" placeholder="Комментарий к заказу"></textarea><br>
            <input type="hidden"  name="totalCoast" value="123456!">
            <input type="submit" name="order" class="btn btn-primary" value="Заказать!">
        </form>
    </div>

</div>




{% include 'footer.html' %}