{% include 'header.html' %}
<section class="cart">

<div class="cart__container paddingSite">
    <div class="cart__heading">Корзина товаров</div>
    <h3 class="cart__empty"></h3>
    <div class="cart__itemContainer">
    {% for item in content_data[0] %}
        <div class="cart__item">
            <div class="itemInCart">
                <div class="itemInCart__block itemInCart__block_big">
                    <img class="itemInCart__img" src="{{ item.img }}" alt="#" class="itemInCart__img">
                    <a class="itemInCart__link" href="index.php?path=catalog/oneGood/{{ item.id_catalog }}">
                        <h3>{{ item.title }}</h3>
                    </a>
                    <p>{{ item.price }} руб</p>
                </div>
                <div class="itemInCart__block itemInCart__counter">
                    <span onclick="decrement({{ item.id_catalog }})" id="dec_{{ item.id_catalog }}" class="itemInCart__btn decrement"><i class="fas fa-minus"></i></span>
                    <span class="itemInCart__number" id="value__counter_{{ item.id_catalog }}">{{ item.counter }}</span>
                    <span onclick="increment({{ item.id_catalog }})" id="inc_{{ item.id_catalog }}" class="itemInCart__btn increment"><i class="fas fa-plus"></i></span>
                </div>
                <div class="itemInCart__block">
                    <p>Всего: {{ item.price * item.counter }} руб</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if (content_data[1][0].total) %}
        <div class="cart__total">
            <p class="cart__totalPrice" >Итоговая стоимость: <strong>{{ content_data[1][0].total }}</strong> руб</p>
        </div>
    {% else %}
        <h3 class="cart__empty">Корзина пустая :( </h3>
    {% endif %}

</div>
</section>
<section class="reg zakaz">

<div class="reg__container">
    <div class="reg__form">
        <div class="formReg">
        <form class="formReg__form" id="formOrder" action="index.php?path=order" method="post">
            <div class="formReg_twoColumn">
            <div class="formReg_block">
            <label class="formReg__text" for="typeSend">Выберите тип доставки:</label>
            <input class="formReg_radioZakaz " type="radio" name="typeSend" value="1"><span>Курьерская</span>
            <input class="formReg_radioZakaz" type="radio" name="typeSend" value="0" checked><span>Самовывоз</span>
            <label class="formReg__text" for="inputName" class="">Имя</label>
            <input class="formReg__input" type="text" name="name" id="inputName" placeholder="Введите имя">
            <label class="formReg__text" for="inputPhone" class="">Телефон</label>
            <div class="inputGroup">
                <input class="formReg__input" type="text" name="phone" class="rowGoods nameFull" placeholder="Введите номер телефона">
            </div>
            <label class="formReg__text" for="inputPersons" class="">Количество персон</label>
            <input class="formReg__input" type="text" name="persons" id="inputPersons" placeholder="Введите Количество персон">
            <label class="formReg__text" for="inputtypepay" class="">Способ оплаты</label>
            <select class="form-control input-sm" name="pay" id="inputtypepay">
                <option value="0">Наличные</option>
                <option value="1">Кредитная карта</option>
            </select>
            </div>
            <div class="formReg_block">
            <label class="formReg__text" for="inputTime" class="">Заказ на время</label>
            <input class="formReg__input" type="text" name="desiredTime" id="inputTime" placeholder="Введите желаемое время исполнения заказа">
            <label class="formReg__text" for="inputMoney" class="">Сдача</label>
            <input class="formReg__input" type="text" name="money" id="inputMoney" placeholder="С какой купюры сдачу">
            <label class="formReg__text" for="inputAddress" class="">Адрес</label>
            <textarea class="formReg__input" type="text" name="address" id="inputAddress" placeholder="Адрес доставки"></textarea>
            <label class="formReg__text" for="inputComment" class="">Комментарий</label>
            <textarea class="formReg__input" type="text" name="comment" id="inputComment" placeholder="Комментарий к заказу"></textarea>
            <input type="hidden"  name="totalCoast" value="123456!">
            </div></div>
            <input type="submit" name="order" class="btn2 btn-primary" value="Заказать!">

        </form>
        </div>
    </div>

</div>
</section>




{% include 'footer.html' %}