@import "var";
@import "popup";
@import "fonts";

* {
  margin: 0;
  padding: 0;
}
body {
  background: $bodyColor;
}
.conteiner {
  background: $fonColor1;
  display: flex;
}

.nav {
  width: 130px;
  height: 100vh;
  background-color: $navColor;
  position: fixed;
  font-family: "Segoe UI";
  font-size: 12px;
  .nav__div,
  .nav__link {
    height: 110px;
    display: block;
  }
  .nav__div{
    text-align: center;
    position: relative;
    .nav__link{
      color: rgba(103, 103, 103, 0.61);
      &:hover {
        color: #ff503f;
        //border-left: 1px solid #ff503f;
      }
      .nav__user {
        position: absolute;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        .photo {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #fff;
        }
      }
      .nav__outer {
        position: absolute;
        top: calc(50% - 28px);
        left: calc(50% - 58.65px);
        width: 117.3px;
      }
      i {
        font-size: 30px;
        vertical-align: middle;
        margin-bottom: 8px;
      }
      .nav__span{
        display: block;
      }
    }
  }
}

.logout {
  color: #500c05;
  &:hover {
    color: #89180c;
  }
}

.active {
  color: #ff503f;
  border-left: 1px solid #ff503f;
}

.content {
  width: 100%;
  min-height: 100vh;
  margin-left: 130px;
}

.header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  .header__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-items: center;
  }
}






