@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  /* Имя шрифта */
  src: url(../../../fonts/Opensans.ttf);
  /* Путь к файлу со шрифтом от файла admin.CSS !!! */
}
.btn {
  display: inline-block;
  padding: 28px 35px;
  border: none;
  outline: 3px solid #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}
.btn:hover {
  background: #00897b;
  outline: none;
}
@media all and (max-width: 576px) {
  .btn {
    padding: 15px 18px;
    font-size: 15px;
  }
}

.btn2 {
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid #00897b;
  color: #00897b;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}
.btn2:hover {
  background: #00897b;
  color: white;
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  box-shadow: 0 5px 17px rgba(240, 240, 240, 0.7);
}
.header #switcher {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}
.header .header__nav {
  display: flex;
  justify-content: space-around;
}
.header .nav__menu {
  padding: 0 10px;
}
.header .nav__menu:hover {
  color: #00897b;
  background: rgba(240, 240, 240, 0.4);
}
@media (min-width: 1200px) {
  .header {
    width: 940px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    left: 0;
    width: 93%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header {
    left: 0;
    width: 97%;
  }
}
@media (min-width: 768px) {
  .header .nav__menu {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .header .nav__menu {
    display: block;
  }
  .header .nav__menu i {
    font-size: 35px;
    line-height: 62px;
  }
  .header #switcher:checked ~ .header__nav nav {
    left: 0;
  }
}

.logo_name {
  font-family: "Open Sans";
  color: #212121;
  padding: 15px;
  margin: 5px;
}

.nav {
  display: flex;
}
.nav .nav__div {
  padding: 0 15px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .nav .nav__div {
    padding: 0;
  }
}
.nav .nav__div .nav__link {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 17px;
  display: inline-block;
  padding: 15px;
  margin: 5px;
  color: #212121;
}
.nav .nav__div .nav__link:hover {
  color: #00897b;
  background: rgba(240, 240, 240, 0.4);
}
.nav .nav__div .active {
  color: #00897b;
  background: rgba(240, 240, 240, 0.4);
}
@media (max-width: 768px) {
  .nav {
    display: block;
    margin-top: 100px;
    position: fixed;
    text-align: center;
    width: 100%;
    left: -100%;
    transition: left 0.4s;
    z-index: 10;
  }
  .nav__div {
    display: block;
    padding: 10px;
    background: #e7e1e1;
  }
  .nav__link {
    display: inline;
  }
}

.headerCart {
  align-self: center;
  margin-right: 15px;
}
.headerCart .cart__link {
  text-decoration: none;
  font-family: "Open Sans";
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  color: #212121;
}
.headerCart .cart__link:hover {
  color: #00897b;
  background: rgba(240, 240, 240, 0.4);
}
.headerCart #cart__counter {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.slider {
  width: 100%;
  height: 700px;
  background: url("../../../img/css/top.jpg") center center;
  background-size: cover;
}
.slider .slider__fon {
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}
.slider .slider__fon .slider__container {
  padding: 180px 0;
  text-align: center;
}
.slider .slider__fon .slider__container .slider__text {
  color: #fff;
}
.slider .slider__fon .slider__container .slider__text .slider__heading {
  font-size: 60px;
  font-weight: 400;
}
.slider .slider__fon .slider__container .slider__text .slider__miniText {
  font-size: 22px;
  font-weight: 400;
}
.slider .slider__fon .slider__container .slider__btnContainer {
  padding-top: 100px;
}
.slider .slider__fon .slider__container .slider__btnContainer .slider__btnMargin {
  margin-right: 30px;
}
.slider .slider__fon .slider__down .slider__downI {
  left: calc(50% - 12px);
  position: absolute;
  font-size: 25px;
  color: white;
  top: 725px;
}
@media all and (max-width: 576px) {
  .slider {
    height: 400px;
  }
  .slider .slider__fon .slider__container {
    padding: 60px 0;
  }
  .slider .slider__fon .slider__container .slider__text .slider__heading {
    font-size: 35px;
  }
  .slider .slider__fon .slider__container .slider__text .slider__miniText {
    font-size: 15px;
  }
  .slider .slider__fon .slider__container .slider__btnContainer {
    padding-top: 50px;
  }
  .slider .slider__fon .slider__container .slider__btnContainer .slider__btnMargin {
    margin: auto;
  }
  .slider .slider__fon .slider__down .slider__downI {
    top: 425px;
  }
}

.catalog {
  background: #fff;
}
.catalog .catalog__heading {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}
.catalog .catalog__container {
  display: grid;
  grid-gap: 30px;
  padding-bottom: 80px;
}
@media (min-width: 1200px) {
  .catalog .catalog__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .catalog .catalog__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .catalog .catalog__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .catalog .catalog__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 576px) {
  .catalog .catalog__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.item {
  background: rgba(240, 240, 240, 0.4);
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}
.item:hover {
  background: #e4fdf9;
}
.item .item__link {
  text-decoration: none;
}
.item .item__link .item__heading {
  padding: 7px;
  color: #212121;
}
.item .item__link .item__img {
  height: 250px;
  object-fit: contain;
}
.item .item__link .item__price {
  padding: 7px;
  color: #212121;
}
.item .item__btn {
  margin: 10px;
}

.oneItem .oneItem__container {
  padding-bottom: 80px;
}
.oneItem .oneItem__container .oneItem__heading {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}
.oneItem .oneItem__container .oneItem__outer {
  display: flex;
  justify-content: space-between;
}
.oneItem .oneItem__container .oneItem__outer .oneItem__imgBlock {
  width: 40%;
}
.oneItem .oneItem__container .oneItem__outer .oneItem__imgBlock .oneItem__img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.oneItem .oneItem__container .oneItem__outer .oneItem__text {
  width: 40%;
}
.oneItem .oneItem__container .oneItem__outer .oneItem__text .oneItem__title {
  font-size: 30px;
  padding: 0 30px 30px;
}
.oneItem .oneItem__container .oneItem__outer .oneItem__text .oneItem__desc {
  font-size: 25px;
}
.oneItem .oneItem__container .oneItem__outer .oneItem__text .oneItem__price {
  font-size: 30px;
  margin: 25px 0;
}
@media all and (max-width: 576px) {
  .oneItem .oneItem__container .oneItem__outer {
    display: block;
  }
  .oneItem .oneItem__container .oneItem__outer .oneItem__imgBlock,
.oneItem .oneItem__container .oneItem__outer .oneItem__text {
    width: 100%;
  }
  .oneItem .oneItem__container .oneItem__outer .oneItem__text .oneItem__title {
    text-align: center;
  }
}

.reg .reg__container {
  padding: 0 0 80px;
}
.reg .reg__container .reg__heading {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}
.reg .reg__container .reg__form {
  text-align: center;
}

.formReg {
  border-radius: 10px;
  border: 2px solid #00897b;
  display: inline-block;
  margin: auto;
}
.formReg .formReg__form {
  border-radius: 10px;
  background: #e4fdf9;
  padding: 40px;
}
.formReg .formReg__form .formReg__text {
  font-size: 20px;
  display: block;
}
.formReg .formReg__form .formReg__input {
  display: block;
  margin: 5px auto;
  padding: 4%;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #212121;
}
.formReg .formReg__form .formReg__btn {
  margin-top: 10px;
}
.formReg .formReg_twoColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}
@media all and (max-width: 576px) {
  .formReg .formReg_twoColumn {
    grid-template-columns: repeat(1, 1fr);
  }
}
.formReg_radioZakaz {
  display: inline;
  margin: 20px 5px;
}

.cart .cart__container {
  margin-bottom: 100px;
}
.cart .cart__container .cart__heading {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}
.cart .cart__container .cart__total {
  float: right;
}
.cart .cart__container .cart__total .cart__totalPrice {
  color: #212121;
}
.cart .cart__container .cart__total .cart__totalPrice strong {
  font-size: 25px;
}
.itemInCart {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  background: aliceblue;
  padding: 5px;
}
.itemInCart .itemInCart__block .itemInCart__img {
  width: 125px;
}
.itemInCart .itemInCart__block .itemInCart__link {
  text-decoration: none;
}
.itemInCart .itemInCart__block .itemInCart__link h3 {
  padding: 10px;
  color: #212121;
}
.itemInCart .itemInCart__block .itemInCart__link h3:hover {
  color: #25487d;
}
.itemInCart .itemInCart__counter {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.itemInCart .itemInCart__counter .itemInCart__btn {
  padding: 5px;
  font-size: 20px;
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.itemInCart .itemInCart__counter .itemInCart__btn:hover {
  background: #00897b;
  color: #fff;
}
.itemInCart .itemInCart__counter .itemInCart__number {
  line-height: 35px;
}
@media all and (max-width: 576px) {
  .itemInCart {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .itemInCart .itemInCart__block .itemInCart__img {
    width: 75px;
  }
}

.itemInCart__block_big {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
@media all and (max-width: 576px) {
  .itemInCart__block_big {
    grid-template-columns: 1fr;
  }
}

.endOrder .endOrder__container {
  margin: 50px 0;
}
.endOrder .endOrder__container .endOrder__text {
  text-align: center;
  font-size: 20px;
}

.aboutUs .aboutUs__container {
  padding: 100px 0;
}
.aboutUs .aboutUs__container .aboutUs__text {
  text-align: center;
}
.aboutUs .aboutUs__container .aboutUs__text .aboutUs__heading {
  font-size: 30px;
  font-weight: 700;
}
.aboutUs .aboutUs__container .aboutUs__text .aboutUs__miniText {
  font-size: 15px;
  max-width: 600px;
  margin: 36px auto;
}
.aboutUs .aboutUs__container .aboutUs__technology {
  margin-top: 100px;
}

.technology .technology__block {
  width: 250px;
  text-align: center;
}
.technology .technology__block .technology__icon {
  color: black;
  font-size: 62px;
}
.technology .technology__block .technology__heading {
  font-size: 20px;
  font-weight: 400;
  margin: 25px 0;
}
.technology .technology__block .technology__text {
  font-size: 15px;
}
@media (min-width: 576px) {
  .technology {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (max-width: 576px) {
  .technology {
    display: grid;
    grid-gap: 30px;
    justify-items: center;
  }
}

.footer {
  background: url("../../../img/css/footer.jpg") center center;
  background-size: cover;
  color: #fff;
}
.footer .footer__fon {
  background: rgba(0, 0, 0, 0.65);
}
.footer .footer__fon .footer__container {
  text-align: center;
}
.footer .footer__fon .footer__container .footer__text {
  font-weight: 700;
}
.footer .footer__fon .footer__container .footer__text .footer__heading {
  font-size: 30px;
  margin-bottom: 36px;
}
.footer .footer__fon .footer__container .footer__text .footer__miniText {
  font-size: 15px;
}
.footer .footer__fon .footer__message {
  text-align: end;
}
.footer .footer__fon .footer__message .footer__textarea,
.footer .footer__fon .footer__message .footer__input {
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 20px;
}
.footer .footer__fon .footer__message .footer__forInput {
  display: flex;
  justify-content: space-between;
}
.footer .footer__fon .footer__message .footer__forInput .footer__input {
  width: 40%;
  height: 84px;
  padding: 0 21px;
}
.footer .footer__fon .footer__message .footer__textarea {
  display: block;
  margin: 30px auto;
  width: 98%;
  padding: 20px 0 0 2%;
}
@media (min-width: 1200px) {
  .footer .footer__fon .footer__container {
    padding: 100px 125px;
  }
  .footer .footer__fon .footer__container .footer__contact {
    margin: 90px 0;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer .footer__fon .footer__container {
    padding: 75px 100px;
  }
  .footer .footer__fon .footer__container .footer__contact {
    margin: 80px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer .footer__fon .footer__container {
    padding: 50px 75px;
  }
  .footer .footer__fon .footer__container .footer__contact {
    margin: 70px 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .footer .footer__fon .footer__container {
    padding: 25px 20px;
  }
  .footer .footer__fon .footer__container .footer__contact {
    margin: 60px 0;
  }
}
@media all and (max-width: 576px) {
  .footer .footer__fon .footer__container {
    padding: 20px 10px;
  }
  .footer .footer__fon .footer__container .footer__contact {
    margin: 50px 0;
  }
  .footer .footer__fon .footer__message .footer__forInput {
    display: block;
  }
  .footer .footer__fon .footer__message .footer__forInput .footer__input {
    display: block;
    margin: 15px auto;
    width: 80%;
  }
  .footer .footer__fon .footer__message .footer__textarea {
    margin: 20px auto;
    width: 86%;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
}
.contact .contact__block {
  width: 235px;
}
.contact .contact__block .contact__iconDiv {
  margin: auto;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: #3949ab;
}
.contact .contact__block .contact__iconDiv .contact__icon {
  font-size: 50px;
  line-height: 105px;
}
.contact .contact__block .contact__text {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .contact .contact__block .contact__text {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .contact .contact__block .contact__text {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .contact .contact__block .contact__text {
    font-size: 17px;
  }
}
@media all and (max-width: 576px) {
  .contact {
    display: block;
  }
  .contact .contact__block {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .contact .contact__block .contact__iconDiv {
    margin: 0;
    width: 65px;
    height: 65px;
  }
  .contact .contact__block .contact__iconDiv .contact__icon {
    font-size: 25px;
    line-height: 65px;
  }
  .contact .contact__block .contact__text {
    margin-top: 0;
  }
}

.footerMini {
  text-align: center;
  padding: 22px;
}
.footerMini .footerMini__text {
  font-size: 20px;
}
@media all and (max-width: 768px) {
  .footerMini {
    padding: 10px;
  }
  .footerMini .footerMini__text {
    font-size: 13px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #f8f8f8;
}

.container {
  margin: 0 auto;
  background: #fff;
  font-family: "Open Sans";
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 94%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
@media all and (max-width: 576px) {
  .container {
    width: 100vw;
  }
}

.main {
  padding: 63px 0 0;
}
@media (min-width: 1200px) {
  .paddingSite {
    padding: 0 80px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .paddingSite {
    padding: 0 40px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .paddingSite {
    padding: 0 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .paddingSite {
    padding: 0 10px;
  }
}
@media all and (max-width: 576px) {
  .paddingSite {
    padding: 0 5px;
  }
}

/*# sourceMappingURL=public.css.map */
