.item {
    background-color: aliceblue;
    text-align: center;
}
.item:hover {
    background-color: rgba(119, 157, 205, 0.26);
}

.img {
    background-color: #fff;
    float: left;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cart {
    float: right;
}

.cartItem{
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.count__div{
    display: flex;

}

.btn {
    margin: 25px;
    font-size: 25px;
}

.totalPrice {
    float: right;
    margin-right: 25px;
}