.item {
    background-color: aliceblue;
    text-align: center;
}
.item:hover {
    background-color: rgba(119, 157, 205, 0.26);
}

.img {
    background-color: #fff;
    float: left;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cart {
    float: right;
}

.cartItem{
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.count__div{
    display: flex;

}

.btn {
    margin: 25px;
    font-size: 25px;
    cursor: pointer;
}

.btnEdit {
    cursor: pointer;
}

.totalDiv {
    float: right;
    margin-right: 25px;
}

.cartInput {
    margin-top: 50px;
    padding: 0 500px;
}

/* стили для попапа! */

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content{
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body{
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
}

.popup__content{
    background: #fff;
    color: black;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.popup__text{
    font-size: 30px;
}

/* конец стилей попапа */

.tableOrder {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}