
.footerMini {
  text-align: center;
  padding: 22px;
  .footerMini__text{
    font-size: 20px;
  }
  @media all and (max-width: 768px) {
    padding: 10px;
    .footerMini__text{
      font-size: 13px;
    }
  }
}