{% include 'header.html' %}

<section class="slider">
    <div class="slider__fon">
        <div class="slider__container">
        <div class="slider__text">
            <h3 class="slider__heading">Web development project</h3>
            <p class="slider__miniText">Very suitable to support all web development projects</p>
        </div>
        <div class="slider__btnContainer">
            <div class="btn slider__btnMargin">OUR SERVICES</div>
            <div class="btn">HIRE IS NOW</div>
        </div>
        </div>
        <a href="#aboutUs" class="slider__down"><i class=" slider__downI fas fa-chevron-down"></i></a>
    </div>
</section>
<section id="aboutUs" class="aboutUs paddingSite">
    <div class="aboutUs__container">
        <div class="aboutUs__text">
            <h3 class="aboutUs__heading">About Us</h3>
            <div class="aboutUs__miniText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
        </div>
        <div class="aboutUs__technology">
            <div class="technology">
                <div class="technology__block">
                    <i class="technology__icon fas fa-globe"></i>
                    <h5 class="technology__heading">Awesome Icons</h5>
                    <p class="technology__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                </div>
                <div class="technology__block">
                    <i class="technology__icon fas fa-sitemap"></i>
                    <h5 class="technology__heading">Any Page</h5>
                    <p class="technology__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                </div>
                <div class="technology__block">
                    <i class="technology__icon fas fa-user-cog"></i>
                    <h5 class="technology__heading">Fully Responsive</h5>
                    <p class="technology__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}