
{% if (isAdmin) %}
{% include 'AdminHeader.html' %}

<section class="addItem">

    <h2 class="heading" >Добавить новый товар!</h2>

    <div class="addCatalog">

        <form class="formEdit" method="post" action="index.php?path=admin/updateItem" enctype="multipart/form-data">
            <div class="formEdit__container formEdit_containerForAdd">
                <div class="formEdit__block">
                    <h4 class="formEdit__text">Введите наименование: <br><input class="formEdit__input" type="text" name="name" maxlength="100" required></h4>
                    <h4 class="formEdit__text">Введите описание: <br><textarea class="formEdit__input" name="desc" rows="5" required></textarea></h4>
                    <h4 class="formEdit__text">Введите цену: <br><input class="formEdit__input" type="number" name="price" maxlength="20" required></h4>
                    <h4 class="formEdit__text">Загрузите картинку в формате JPEG, PNG или GIF</h4>
                    <p><input class="btn" type="file" name="img" accept="image/jpeg,image/png,image/gif" required></p>
                    <p><input class="btn formEdit_addBtn" type="submit" name="submit" value="Добавить"></p>
                </div>
            </div>
        </form>

    </div>

</section>

{% include 'AdminFooter.html' %}

{% else %}
<h2>Вы не администратор!</h2>
{% endif %}