.header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  .header__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-items: center;
  }
}