
</main>
<footer class="footer">
    <div class="footer__fon">
        <div class="footer__container">
            <div class="footer__text">
                <div class="footer__heading">Contact Us</div>
                <div class="footer__miniText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
            </div>
            <div class="footer__contact">
                <div class="contact">
                    <div class="contact__block">
                        <div class="contact__iconDiv"><i class="contact__icon fas fa-map-marker-alt"></i></div>
                        <div class="contact__text">Nobinagar savar,<br>Dhaka Bangladesh</div>
                    </div>
                    <div class="contact__block">
                        <div class="contact__iconDiv"><i class="contact__icon fas fa-phone-alt"></i></div>
                        <div class="contact__text">+8801743331996 <br> +8801928737807</div>
                    </div>
                    <div class="contact__block">
                        <div class="contact__iconDiv"><i class="contact__icon far fa-envelope"></i></div>
                        <div class="contact__text">quickmasud@gmail.com <br> quickmasud@yahoo.com</div>
                    </div>
                </div>
            </div>
            <div class="footer__message">
                <form action="#" class="footer__form">
                    <div class="footer__forInput">
                        <input type="text" class="footer__input" placeholder="Your NAME">
                        <input type="text" class="footer__input" placeholder="Your Email">
                    </div>
                    <textarea  cols="30" rows="10" class="footer__textarea" placeholder="Write Message"></textarea>
                    <input type="submit" class="btn footer__btn">
                </form>
            </div>
        </div>
    </div>
</footer>

<div class="footerMini">
    <p class="footerMini__text">All rights Reserved © 2017</p>
</div>
</div>
    </body>
</html>