<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="css/css.css">
    </head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/category.js"></script>
<body>

<nav>

    <span><a href="index.php?path=admin">Админка</a></span>
    <span><a href="index.php?path=admin/goods">Товары</a></span>
    <span><a href="index.php?path=admin/newItemOrUpdate">Добавить товар</a></span>
    <span><a href="index.php?path=admin/orders">Заказы</a></span>
    <span class="cart"><a href="index.php">Сайт</a></span>


</nav>

