<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="css/css.css">
    </head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/ajaxTest.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/category.js"></script>
    <body>
    <nav>
        <span><a href="index.php">Главная</a></span>
        <span><a href="index.php?path=catalog">Каталог</a></span>
        <span class="cart"><a href="index.php?path=cart">Корзина </a>

<!--            Если корзина пустая, то 0 не показываем-->
            {% if (cartQuantity) %}
            <span id="cart__counter">{{ cartQuantity }}</span>
        {%  else  %}
            <span id="cart__counter"></span>
            {% endif %}

        </span>
    </nav>
<!--        <ul>-->
<!--            {% for category in categories %}-->
<!--            <li>-->
<!--                <a href="/categories/?id={{ category.id_category }}" link="{{ category.id_category }}" class="category-link">{{ category.name }}</a>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->

    <div>
<!--        <a href="/user/">Личный кабинет</a>-->
    </div>


