{% include 'header.html' %}

<section class="catalog paddingSite">
    <h3 class="catalog__heading">Каталог товаров</h3>
    <div class="catalog__container">
{% for catalog in content_data['items'] %}
    <div class="catalog__item">
     <div class="item">
        <a class="item__link" href="index.php?path=catalog/oneGood/{{ catalog.catalog_id }}">
            <h3 class="item__heading">{{ catalog.title }}</h3>
            <img class="item__img" class="img" src="{{ catalog.img }}" alt="фото" width="200px">
            <p class="item__price">{{ catalog.price }} руб</p>
{#            <p class="item__desc">{{ catalog.desc }}</p>#}
        </a>
        <button class="btn2 buy item__btn" data-id="{{ catalog.catalog_id }}">Купить</button>
     </div>
    </div>
{% endfor %}
    </div>
</section>

{% include 'footer.html' %}